
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.GetCode.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new InventoryManagement.Administration.GetCodeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>