
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.UserLocation.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new InventoryManagement.Administration.UserLocationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>