{
    "RootNamespace": "InventoryManagement",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=OLUWAFIKAYO\\MSSQL2017;Initial Catalog=InventoryManagement_Default_v1_1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Accounts",
                    "Identifier": "Account",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Locations",
                    "Identifier": "Location",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Languages",
                    "Identifier": "Languages",
                    "Module": "Accounts",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Suppliers",
                    "Identifier": "Supplier",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Customers",
                    "Identifier": "Customer",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Purchases",
                    "Identifier": "Purchases",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Sales",
                    "Identifier": "Sales",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SalesDetails",
                    "Identifier": "SalesDetails",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Products",
                    "Identifier": "Product",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.StandardUOMs",
                    "Identifier": "StandardUoM",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchasesUOMsAndPrices",
                    "Identifier": "PurchasesUoMAndPrice",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SalesUOMsAndPrices",
                    "Identifier": "SalesUoMAndPrice",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Stocks",
                    "Identifier": "Stock",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Unstock",
                    "Identifier": "Unstock",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Restock",
                    "Identifier": "Restock",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ReorderPoints",
                    "Identifier": "ReorderPoint",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchasesDetails",
                    "Identifier": "PurchasesDetails_Test",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SalesPaymentsDetails",
                    "Identifier": "SalesPaymentDetails",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchasesPaymentsDetails",
                    "Identifier": "PurchasesPaymentDetails",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductsCategories",
                    "Identifier": "ProductCategory",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Banks",
                    "Identifier": "Bank",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.BankTransactions",
                    "Identifier": "BankTransaction",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.CostingInfo",
                    "Identifier": "CostingInfo",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ReceivePurchases",
                    "Identifier": "ReceivePurchases",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ReturnInwards",
                    "Identifier": "ReturnInwards",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ReturnInwardsDetails",
                    "Identifier": "ReturnInwardsDetails",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ReturnInwardsPayments",
                    "Identifier": "ReturnInwardsPayment",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ReturnOutwards",
                    "Identifier": "ReturnOutwards",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ReturnOutwardsDetails",
                    "Identifier": "ReturnOutwardsDetails",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ReturnOutwardsPayments",
                    "Identifier": "ReturnOutwardsPayment",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SalesByProductsSummaries",
                    "Identifier": "SalesByProductsSummaries",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PickSalesOrders",
                    "Identifier": "PickSalesOrder",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SalesInvoice",
                    "Identifier": "SalesInvoice",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SuppliersLocations",
                    "Identifier": "SupplierLocation",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductsLocations",
                    "Identifier": "ProductLocation",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductsSuppliers",
                    "Identifier": "ProductSupplier",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MovementHistory",
                    "Identifier": "MovementHistory2",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BillOfMaterial",
                    "Identifier": "BillOfMaterial2",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PurchasesTrails",
                    "Identifier": "PurchaseTrail",
                    "Module": "BusinessObjects",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=InventoryManagement_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\InventoryManagement\\InventoryManagement.Web\\InventoryManagement.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}