
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BusinessObjects.Customer.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new InventoryManagement.BusinessObjects.CustomerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>