
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BusinessObjects.PurchasesUoMAndPrice.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new InventoryManagement.BusinessObjects.PurchasesUoMAndPriceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>